body{
    /* font-family:Arial, Helvetica, sans-serif ;
    font-size: 15px;
    line-height: 1.5; */
    font: 15px/1.5 Arial, helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/*Global*/
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
ul{
    margin: 0;
    padding: 0;
}
.button-1{
    margin-top: 20px;
    height: 35px;
    width: 100px;
    color: #ffffff;
    background: #e8491d;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 20px 0 20px;
    border: 0;
}
.dark{
    padding: 15px;
    margin-top: 10px;
    background: #35424a;
    color: #ffffff;
}



 /* Header */
 header{
    background: #35424a;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
 }
 header a{
     color: #ffffff;
     text-decoration: none;
     text-transform: uppercase;
     font-size: 16px;

 }
 header li{
     float: left ;
     display: inline;
     padding: 0 20px 0 20px;
 }
 header #branding{
     float: left;

 }
 header #branding h1{
     margin: 0;
 }
 header #header-links{
    float: right;
    margin-top: 10px;
 }
 header .highlight, header .current a{
    color: #e8491d;
    font-weight: bold;
 }
 header a:hover{
     color: #cccccc;
     font-weight: bold;
 }



 /* showcase */
#showcase{
    min-height: 400px;
    background:url(../img/showcase.jpg) no-repeat 0 -400px;
    text-align: center;
    color: #ffffff;
}
#showcase h1{
    margin-top: 100px;
    margin-bottom: 10px;
    font-size: 55px;
}
#showcase p{
    font-size: 20px;
}



/* newsletter */
#newsletter{
    padding: 15px;
    color: #ffffff;
    background:#35424a ;
}
#newsletter h1{
    float: left;  
}
#newsletter form{
    margin-top: 25px;
    float: right;
}
#newsletter input[type="email"]{
    padding: 5px;
    height: 25px;
    width: 250px;
    border: none;
}
#newsletter ,input::placeholder{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;   
}

#newsletter .subscribe{
    height: 35px;
    width: 100px;
    color: #ffffff;
    background: #e8491d;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 20px 0 20px;
    border: 0;
}
#newsletter .subscribe:hover{
    background:#e6d5b8 ;
    transition: 200ms;
    color: black;
}



#boxes{
    margin-top: 15px;
}
#boxes .box{
    text-align: center;
    float: left;
    width: 30%;
    padding: 10px;
}
#boxes .box img{
    width: 90px;
}



/* sidebar */
aside.sidebar{
    float: right;
    width: 30%;
}
aside.sidebar .quote input, aside.sidebar .quote textarea{
    width: 90%;
    padding: 5px:
}
aside.sidebar .quote textarea::placeholder{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}



/* article */
article{
    float: left;
    width: 65%;
}


/* services */
ul#services li{
    list-style: none;
    background:#e6e6e6;
    padding: 20px;
    margin-bottom: 10px;
    border: #cccccc 1px solid;
}


/* footer */
footer{
    margin-top: 20px;
    padding: 20px;
    color: #ffffff;
    background: #e8491d;
    text-align: center;
}


/* Media Queries */
@media(max-width:768px){
    header #branding,
    header nav,
    header nav li,
    #newsletter h1,
    #newsletter form,
    #boxes .box,
    article.main-content,
    aside.sidebar{
        float: none;
        text-align: center;
        width: 100%;
    }
    aside.sidebar{
        margin-bottom: 10px;
    }
    header{
        padding-bottom: 20px;
    }
    #showcase h1{
        margin-top: 40px;
    }
    #newsletter h1{
        margin-top: 10px;
    }
    #newsletter .subscribe{
        display: block;
        margin-top: 10px;
        width: 100%;
    }
    .button-1{
        width: 92%;
    }
    #newsletter input[type="email"]{
        width: 100%;
        margin-bottom: 5px;
    } 
    form.quote label{
        padding: 10px 0 0 15px;
        float: left;
    }   
}